.list-action-icon .fa {
    cursor: pointer;
    padding: 3px;  
    min-width: 20px;
    opacity: 0.8;
}
.list-action-icon .fa:hover {
    opacity: 1;
}

.required {
    border-left: 3px red solid;
}
.display-none {
    display:none !important;
}
.img-select-file {
    cursor: pointer;
}